<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/icono.ico">
    <link rel="stylesheet" href="../css/style.css">
    
    <title>Automarket |Contact</title>
</head>
<body>
    <main class="main__contact"> 
        <header class="navbar__container">
            <nav class="navbar active nav__close" id="navbar">
                <div class="logo"><a href="../index.html"><img src="../img/icono.png" alt=""></a></div>
                <ul class="menu">
                    <li><a href="../index.html">HOME</a></li>
                    <li><a href="../index.html#carousel">CARS</a></li>
                    <li><a href="../index.html#card">OFFERS</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                </ul>
            </nav>
        </header>
        <div class="menu__hamburguesa"><i class=" hamburguesa fas fa-bars"></i></div>
        <section id="form">
    
            <form action="" class="form">

                <div class="input__group">
                    <label for="name">Name</label>
                    <input type="text" id="name" placeholder="Name">
                </div>
                <div class="input__group">
                    <label for="surname">Surname</label>
                    <input type="text" id="surname" placeholder="Surname">
                </div>
                <div class="input__group">
                    <label for="province">Province</label>
                    <input type="text" id="province" placeholder="Province">
                </div>
                <div class="input__group">
                    <label for="email">Email</label>
                    <input type="email" id="email" placeholder="Email">
                </div>
                   
                <input type="submit" id="submit" value="Enviar">
                

            </form>

        </section>

        <footer class="footer">
            <div><i class="fas fa-phone-square-alt"></i>+54 9 2235-2233</div>
            <div><i class="fas fa-compass"></i> calle falsa 123</div>
            <div><i class="fas fa-at"> Email@concesionaria.com</i></div>
        </footer>

       
        <script src="https://kit.fontawesome.com/b4c4dc37b0.js" crossorigin="anonymous"></script>
        <script src="../js/nav.js"></script>
        <script src="../js/validacion.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        
    </main>
</body>
</html>